body {
	text-align: center;
	font-family: Open Sans,Arial,sans-serif;
}

h1 {
	font-size: 40px;
}

.bigCanvas{
	width: 652px;
	height: 502px;
	border: 2px solid #464646;
	border-left: 0px;
}

.menuBar{
	width: 66px;
	height: 506px;
	background-color: #464646;
}

.canvasAll {
	margin: 0 auto;
	display: flex;
	align-items: center;
  	justify-content: center;
}

.menuSquares {
	padding: 0px;
}

.menuSquares:first-child li {
	height: 55px;
	width: 55px;
  	background-color: #e1e1e1;
  	list-style: none;
  	border-radius: 5px;
  	margin: 3px;
  	margin-top: 5px;
  	padding-top:4px;  
  	position: relative; 
}

.fa {
    margin-top: 2px;
}

.colourDropdown {
	width: 225px;
	height: 50px;
	background-color: red;
	border-radius: 5px;
	float: left;
	list-style-type: none;
}

.circleChild {
	display: flex;
	position:absolute;
}